extends ./layout/index

block contenido
    main.container.mt-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen de nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur et augue aliquam porttitor. Integer egestas ipsum tortor, nec rutrum ex tincidunt elementum. Maecenas euismod at sem vel pharetra.  
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur et augue aliquam porttitor. Integer egestas ipsum tortor, nec rutrum ex tincidunt elementum. Maecenas euismod at sem vel pharetra. Donec bibendum efficitur tincidunt. Ut leo sapien, iaculis in porttitor et, malesuada tristique felis. Sed varius vestibulum nisi sed placerat. Aenean risus libero, iaculis accumsan sapien vitae, scelerisque posuere turpis. 
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row   
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    pLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur et augue aliquam porttitor. Integer egestas ipsum tortor, nec rutrum ex tincidunt elementum. Maecenas euismod at sem vel pharetra.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono destinos" class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos  
                    pLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur et augue aliquam porttitor. Integer egestas ipsum tortor, nec rutrum ex tincidunt elementum. Maecenas euismod at sem vel pharetra.
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono precios" class="img-fluid mb-4")
                    h2.mb-4 Mejores precios 
                    pLorem ipsum dolor sit amet, consectetur adipiscing elit. Nam efficitur et augue aliquam porttitor. Integer egestas ipsum tortor, nec rutrum ex tincidunt elementum. Maecenas euismod at sem vel pharetra.
                